body {
    background-color: #F9FAFC;
    font-family: 'Roboto', sans-serif;
}

/*font-sizes*/

.med {
    font-size: 1.5rem;
}

/*font colours*/
.light-black{
    color: #2C3033
}

.light-grey{
    color: #ABAFB1;
}

.light-blue{
    color: #C1EBFC;
}

.mid-grey{
    color: #666A6C;
}

.white-txt{
    color: #ffffff;
}

/*Background colours*/
.bg-light-grey{
    background-color: #ABAFB1;
}

.bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.7);
}

/* Navigation and logo */
.logo{
    font-family: 'League Gothic', sans-serif;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #C1EBFC;
}

/* Main image */

.container-fluid{
    margin: 20px 0;
}

.main-section{
    background-image: linear-gradient(to bottom right, #2C3033, #C1EBFC);
    height: 400px;
    margin-top: 50px;
    overflow: auto;
}

.logo-img{
    width: 25rem;
    height: 100%;
    border-radius: 25px;
}

.main-img{
    border-radius: 25px;
    height: 100%;
    width: 40rem;
    /* float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both; */
 }

.main-img-txt{
    border-radius: 25px;
    height: 100%;
    width: 40rem;
    font-size: 2.5rem;
    color: #363C3E;
    font-family: 'League Gothic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-box{
    text-align: center;
}

.txt-sub{
    color: #363C3E;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.txt-sub > a{
    color: #C1EBFC;
    text-decoration: none;
}

/*Movie reviews section*/
.review-header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #363C3E;
    margin:30px 0 0 0;
}

.review-container{
    width: 100%;
    height: 32vw;
    position: relative;
}

.img-placement{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.info-placement{
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.crd{
    border-radius: 25px;
}

.crd-box{
    padding: 12px;
}

.content-box{
    padding: 10px;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
    background-color: #EAE7E5;
    overflow: auto;
}

/* review content and image section */

.review-img{
   width: 100%;
   height: 100%;
}

.title-text{
    font-size: 3rem;
    margin: 20px;
}

.img-crd{
    width: 35%;
    margin: 10px 10px 20px 10px;
    border-radius: 25px;
    float: right;
    clear: both;
    background-color: #ABAFB1;
}

.rev-img{
    width: 100%;
    height: 90%;
    border-radius: 25px;
    float: right;
    clear: both;
}

.crd-info{
    text-align: center;
}

.author{
    font-size: 1.5rem;
}

.star{
    font-size: 1.5rem;
}

/* video section */
.trailer-container{
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-box{
    width: 70%;
    height: 90%;
}

.video{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

/* styling comments */


.comments-section{
    min-height: 10rem;
    margin: 10px;
    background-color: #EAE7E5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    color: #2C3033;
}

.comment-path{
    border-radius: 25px;
    padding: 20px;
    max-width: 60%;
}

.comment{
    margin-bottom: 10px;
    border-bottom: #ABAFB1 1px solid;
}

