<script type="text/javascript">
const spinner = document.getElementById('spinner');
const list = document.getElementById('list');

$.ajax({
    type: 'GET',
    url: '/',
    success: function(res){
        setTimeout(()=>{
            spinner.classList.add('invisible')
            console.log('success')
            list.innerHTML = `
            <div class="col-12 mt-4">
                <div class="reviews">
                <div class="row">
                {% for review in review_list %}         
                <div class="card">
                    {% if "placeholder" in review.featured_image.url %}
                        <img class="review-img" src="https://static.turbosquid.com/Preview/2014/05/19__20_05_03/MovieCamera1SigWBG.jpg60d7c51a-b1b2-4266-93ed-2d47e3bf5a73Large.jpg" alt="Replacement image of movie" aria-label="Replacement image for the movie review">
                    {% else %}
                        <img class="review-img crd" src=" {{ review.featured_image.url }}" alt="Image of movie" aria-label="Image for the movie review">
                    {% endif %}
                <div class="info">
                <h5>{{ review.title }}</h5>
                <p>{{ review.excerpt }}</p>
                {% if review.rating == 1 %}
                    <p class="light-blue star"><i class="fa-solid fa-star"></i></p>
                {% elif review.rating == 2 %}
                    <p class="light-blue star"><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                {% elif review.rating == 3 %}
                    <p class="light-blue star"><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                {% elif review.rating == 4 %}
                    <p class="light-blue star"><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                {% else %}
                    <p class="light-blue star"><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                {% endif %}
                <p class="info">
                    {{ review.created_date }}
                </p>
                <p>
                    <i class="far fa-heart"></i>{{ review.no_of_likes }}
                </p>
                <a href="{% url 'review_content' review.slug %}"><button>Read More</button></a>
                </div>
                </div>
                {% endfor %}
                </div>
                </div>
            </div>
        `
        },2000)
    },
    error: function(er){
        console.log('error')
    },
})
</script>