{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="main-section row">
        <div class="main-img col-sm">
            <img src="{% static 'media/logo-main-image.png' %}" class="logo-img" alt="Logo image" aria-label="Image of crescent encircling a full-moon">
        </div>
        <div class="col-sm main-img-txt">
            <div class="txt-box">
                <h3>
                    A movie review site like no other!
                </h3>
                {% if user.is_authenticated %}
                <p class="txt-sub">Movie reviews for the latest movies out! Join the discussion in the comments for each review. Let everyone know what you thought if you watched the movie and if you agree with the review.</p>
                {% else %}
                <p class="txt-sub">
                    Register <a href="{% url 'account_signup' %}">here</a> to get the latest movie reviews and share your thoughts in the comments!
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <h3 class="review-header">Movie Reviews</h3>
    <!-- Spinner -->
    <div id="spinner">
        <div class="d-flex justify-content-center mt-5 mb-5">
            <div class="spinner-border mid-grey" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="list"></div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li ><a class="paginate-btn" href="?page={{ page_obj.previous_page_number }}" 
                class="page-link">&laquo; Prev </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a class="paginate-btn" href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
{% block postload_js %}
{{ block.super }}
{% include 'includes/landing_loading_fetch_script.html' %}
{% endblock %}