{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="main-section row">
        <div class="main-img col-sm">
            <img src="{% static 'media/logo-main-image.png' %}" class="logo-img">
        </div>
        <div class="col-sm main-img-txt">
            <div class="txt-box">
                <h3>
                    A movie review site like no other!
                </h3>
                {% if user.is_authenticated %}
                <p class="txt-sub">Movie reviews for the latest movies out! Join the discussion in the comments for each review. Let everyone know what you thought if you watched the movie and if you agree with the review.</p>
                {% else %}
                <p class="txt-sub">
                    Register <a href="{% url 'account_signup' %}">here</a> to get the latest movie reviews and share your thoughts in the comments!
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <h3 class="review-header">Movie Reviews</h3>
    <div class="row">
        <!-- Review Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for review in review_list %}         
                <div class="col-md-3 col-sm-6 crd-box">
                    <a href="{% url 'review_content' review.slug %}" class="post-link">
                        <div class="review-container crd">
                            <div class="img-placement">
                            {% if "placeholder" in review.featured_image.url %}
                                <img class="review-img crd"
                                    src="https://static.turbosquid.com/Preview/2014/05/19__20_05_03/MovieCamera1SigWBG.jpg60d7c51a-b1b2-4266-93ed-2d47e3bf5a73Large.jpg">
                            {% else %}
                                <img class="review-img crd" 
                                    src=" {{ review.featured_image.url }}">
                            {% endif %}
                            </div>
                            <div class="info-placement bg-black-transparent white-txt">
                                <h5 class="card-title">{{ review.title }}</h5>
                                {% if review.rating == 1 %}
                                <p class="light-blue star"><i class="fa-solid fa-star"></i></p>
                                {% elif review.rating == 2 %}
                                <p class="light-blue star"><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i></p>
                                {% elif review.rating == 3 %}
                                <p class="light-blue star"><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i></p>
                                {% elif review.rating == 4 %}
                                <p class="light-blue star"><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i></p>
                                {% else %}
                                <p class="light-blue star"><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i></p>
                                {% endif %}
                                <hr/>
                                <p class="info">{{ review.created_date }} 
                                    <i class="far fa-heart"></i>{{ review.no_of_likes }} 
                                    <i class="far fa-comments"></i>{{ comments.no_of_comments }}</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li ><a class="paginate-btn" href="?page={{ page_obj.previous_page_number }}" 
                class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a class="paginate-btn" href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
