{% extends 'base.html' %} {% block content %}
<div class="content-box">
    {% if "placeholder" in review.featured_image.url %}
        <img class="rev-img" src="https://static.turbosquid.com/Preview/2014/05/19__20_05_03/MovieCamera1SigWBG.jpg60d7c51a-b1b2-4266-93ed-2d47e3bf5a73Large.jpg" width="100%">
    {% else %}
        <img class="rev-img" src="{{ review.featured_image.url }}" width="100%">
    {% endif %}
    <p class="rev-text">{{ review.content | safe }}</p>
</div>
{% endblock content %}