{% extends 'base.html' %} {% block content %}
<div class="content-box">
    <div class="img-crd">
        {% if "placeholder" in review.featured_image.url %}
        <img class="rev-img" src="https://static.turbosquid.com/Preview/2014/05/19__20_05_03/MovieCamera1SigWBG.jpg60d7c51a-b1b2-4266-93ed-2d47e3bf5a73Large.jpg" width="100%">
        {% else %}
        <img class="rev-img" src="{{ review.featured_image.url }}" width="100%">
        {% endif %}
        <div class="crd-info">
            <p class="author mid-grey"> {{ review.author }}| {{ review.created_date }} </p>
            {% if review.rating == 1 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 2 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 3 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 4 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% else %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% endif %}
            <p class="mid-grey"><i class="far fa-heart"></i> {{ review.no_of_likes }}</p>
        </div>
    </div>
    <h2 class="title-text mid-grey">{{ review.title }}</h2>
    <p class="rev-text">{{ review.content | safe }}</p>
</div>
{% if '' == review.yt_link %}
<p>There is no trailer available for this video.:(</p>
{% endif %}
<!-- Why cant you apply is statement to remove iframe if no yt link provided? -->
<div class="trailer-container">
    <div class="vid-box">
    <iframe class="video" src="https://www.youtube.com/embed/{{ review.get_iframe }}" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="comments-section">
    <div class="comment-path">
        <h3>Comments:</h3>
        {% for comment in comments %}
            <div class="comments comment" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_date }}
                    </span> wrote:
                </p>
                <p>{{ comment.body | linebreaks }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="comment-box">
            <!-- Add comment box here -->
    </div>
</div>
{% endblock content %}