{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<div class="content-box">
    <div class="img-crd">
        <div class="rev-img" >
            {% if "placeholder" in review.featured_image.url %}
            <img src="https://static.turbosquid.com/Preview/2014/05/19__20_05_03/MovieCamera1SigWBG.jpg60d7c51a-b1b2-4266-93ed-2d47e3bf5a73Large.jpg" width="100%" alt="Image of movie" aria-label="image of movie">
            {% else %}
            <img src="{{ review.featured_image.url }}" width="100%" alt="Replacement image" aria-label="Replacement image of review">
            {% endif %}
        </div>
        <div class="crd-info">
            <p class="author mid-grey"> {{ review.author }}| {{ review.created_date }} </p>
            {% if review.rating == 1 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 2 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 3 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% elif review.rating == 4 %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% else %}
            <p class="light-blue star"><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i></p>
            {% endif %}
            {% if user.is_authenticated %}
            <p class="mid-grey">
                <form class="d-inline" action="{% url 'review_like' review.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="review_id" value="{{ review.slug }}" class="btn-like mid-grey">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="review_id" value="{{ review.slug }}" class="btn-like mid-grey">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <i class="far fa-heart mid-grey"></i>
                {% endif %}
                {{ review.no_of_likes }}
            </p>
        </div>
    </div>
    <div class="review-txt">
        <h2 class="title-text mid-grey">{{ review.title }}</h2>
        <p class="rev-text">{{ review.content | safe }}</p>
    </div>
</div>
{% if review.get_iframe %}
<div class="trailer-container">
    <div class="vid-box">
    <iframe class="video" src="https://www.youtube.com/embed/{{ review.get_iframe }}" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% else %}
<div class="text-center">
    <p>I am very sorry, but there is no trailer available for this moview review.</p>
</div>
{% endif %}
<div class="comments-section">
        <div class="comment-path col-md-6">
            <h3>Comments:</h3>
            {% for comment in comments %}
                <div class="comments comment" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_date }}
                        </span> wrote:
                    </p>
                    <p>{{ comment.body | linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="comment-box col-md-6">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signin">Comment</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
</div>
{% endblock content %}